{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!--header section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <h1 class="what_taital">Contact us</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="contact_section2">
          <div class="row">
            <div class="col-md-6 padding_left_0">
              <div class="mail_section">
                 <form action="{% url 'add_contact' %}" method="POST">
              {% csrf_token %}
                <input type="text" class="mail_text_1" placeholder="Name" name="name" required>
                <input type="text" class="mail_text_1" placeholder="Phone Number" name="phone" required>
                <input type="email" class="mail_text_1" placeholder="Email" name="email">
                <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="message"></textarea>
                <div class="send_bt">
                  <button type="submit" class="c-button">Отправить</button>
                </div>
                 </form>
              </div>
            </div>
            <div class="col-md-6 padding_0">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16027.609100364753!2d76.84995678253026!3d43.20121082148354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x388368436b0d3947%3A0x4a79504a9f5f93e1!2sAlmaty%20Mall!5e0!3m2!1sru!2skz!4v1671694419253!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
    <!--footer section start -->
{% endblock %}
