{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!--header section end -->
    <!--services section start -->
    <div class="what_we_do_section layout_padding">
      <div class="container">
        <h1 class="what_taital">Чем мы занимаемся</h1>
        <p class="what_text">It is a long established fact that a reader will be distracted by the readable content of a </p>
        <div class="what_we_do_section_2">
          <div class="row">
                {% for service in list_service %}

          <div class="col-lg-3 col-sm-6">
            <div class="box_main">
              <div class="icon_1"><img src="{{ service.img.url }}"></div>
              <h3 class="accounting_text">{{ service.name }}</h3>
              <p class="lorem_text">{{ service.text }}</p>
              <div class="moremore_bt_1"><a href="#">Подробнее </a></div>
            </div>
          </div>
{% endfor %}
        </div>
        </div>
      </div>
    </div>
    <!--services section end -->
    <!--footer section start -->
{% endblock %}
